<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, Jan 14</h3>
    <table class="table table-striped">
      <tr> <td>11:00</td>  <td><a href="http://rwdc2.com/files/rafa.pdf">Inference</a> </td> </tr>
      <tr> <td>11:05</td>  <td><a href="http://genomicsclass.github.io/book/pages/power_calculations_exercises.html">Power calculations exercises</a> </td> </tr>
      <tr> <td>11:25</td>  <td><a href="http://genomicsclass.github.io/book/pages/permutation_tests_exercises.html">Permutation test exercises</a> </td> </tr>
      <tr> <td>11:45</td>  <td><a href="http://genomicsclass.github.io/book/pages/association_tests_exercises.html">Association test exercises</a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday, Jan 21</h3>
    <table class="table table-striped">
       <tr> <td>11:00</td>  <td><a href="http://rwdc2.com/files/rafa.pdf">Exploratory Data Analysis</a> </td> </tr>
      <tr> <td>11:05</td>  <td><a href="http://genomicsclass.github.io/book/pages/exploratory_data_analysis_exercises.html">Exploratory Data Analysis exercises</a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
   <h3>Tuesday, Jan 28</h3>
    <table class="table table-striped">
      <tr> <td>11:00</td>  <td><a href="http://rwdc2.com/files/rafa.pdf">Matrix Algebra</a> </td> </tr>
      <tr> <td>11:05</td>  <td><a href="http://genomicsclass.github.io/book/pages/matrix_algebra_examples_exercises.html">Matrix Algebra exercises</a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
   <h3>Tuesday, Feb 4</h3>
    <table class="table table-striped">
      <tr> <td>11:00</td>  <td><a href="http://rwdc2.com/files/rafa.pdf">Linear Models</a> </td> </tr>
      <tr> <td>11:05</td>  <td><a href="http://genomicsclass.github.io/book/pages/linear_models_in_practice_exercises.html">Linear models in practice exercises</a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="row">
  <div class="col-md-6">
   <h3>Tuesday, Feb 11</h3>
    <table class="table table-striped">
      <tr> <td>11:00</td>  <td><a href="http://rwdc2.com/files/rafa.pdf">Inference For High Dimensional Data</a> </td> </tr>
      <tr> <td>11:05</td>  <td><a href="http://genomicsclass.github.io/book/pages/multiple_testing_exercises.html">Multiple Testing Exercises</a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
   <h3>Tuesday, Feb 18</h3>
    <table class="table table-striped">
      <tr> <td>11:00</td>  <td><a href="http://rwdc2.com/files/rafa.pdf">Statistical Models</a> </td> </tr>
      <tr> <td>11:05</td>  <td><a href="http://genomicsclass.github.io/book/pages/hierarchical_models_exercises.html">Hierarchical Models Exercises</a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
 </div>
  <div class="row">
  <div class="col-md-6">
   <h3>Tuesday, Feb 25</h3>
    <table class="table table-striped">
      <tr> <td>11:00</td>  <td><a href="http://rwdc2.com/files/rafa.pdf">Distance and Dimension Reduction</a> </td> </tr>
      <tr> <td>11:05</td>  <td><a href="http://genomicsclass.github.io/book/pages/distance_exercises.html">Distance exercises</a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
   <h3>Tuesday, Mar 3</h3>
    <table class="table table-striped">
      <tr> <td>11:10</td>  <td><a href="http://rwdc2.com/files/rafa.pdf">Batch Effects</a> </td> </tr>
      <tr> <td>11:05</td>  <td><a href="http://genomicsclass.github.io/book/pages/confounding_exercises.html">Confounding Exercises </a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
 </div>